.thumbnail img{
    width:100%;
}

.thumbnail
{
    padding:0;
}

.thumbnail .caption-full
{
    padding:9px;
}

#link{
    color:black;
    border-style:hidden;
    border-block-color:purple;
}
#delete-form
{
    display:inline;
}